*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    font-size: 100%;
    background: #D1913C;
    background: -webkit-linear-gradient(to right, orange, #bdb76b);
    background: linear-gradient(to right, orange, #bdb76b);
}
