*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Inconsolata', monospace;
    position: relative;
    font-size: 100%;
    background: #D1913C;
    background: -webkit-link-linear-gradient(to right, #FFD194, #D1913C);
    background: linear-gradient(to right, #FFD194, #D1913C);
}
