// Gallery
.gallery-grid img {
    width: 100%;
    border: 5px solid #8b3a62;
}

.gallery-grid div {
    position: relative;
    cursor: pointer;
}

.gallery-grid div:after,
.gallery-grid div:before {
    transition: 0.3s opacity ease;
    opacity: 0;
}

.gallery-grid div:after {
    content: '\02194';
    font-size: 80px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    color: #cd6090;
    left: 50%;
    top: 50%;
    display: block;
}

.gallery-grid div:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(34, 34, 34, 0.5);
    display: block;
}

.gallery-grid div:hover:after,
.gallery-grid div:hover:before {
    opacity: 1;
    transition: 0.3s opacity ease;
}

// modal

.modal img {
    width: 100%;
    border: 5px solid #8b3a62;
}

.modal-body a {
    position: absolute;
    display: inline;
    color: orange;
    text-decoration: none;
    line-height: 36px;
    font-size: 30px;
    font-weight: lighter;
    background: #8b3a62;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
}

.modal-body .modal-close {
    right: 0;
    top: 0;
    border-radius: 0 0 0 5px;
}

.modal-body .modal-next,
.modal-body .modal-prev {
    right: 0;
    top: calc(50% - 25px);
    border-radius: 5px 0 0 5px;
    height: 50px;
    line-height: 40px;
    font-size: 60px;
}

.modal-body .modal-prev {
    left: 0;
    right: auto;
    border-radius: 0 5px 5px 0;
}
