// Gallery

.gallery-grid div {
    position: relative;
    cursor: pointer;
}

.gallery-grid div:after,
.gallery-grid div:before {
    transition: 0.3s opacity ease;
    opacity: 0;
}

.gallery-grid div:after {
    content: '\02194';
    font-size: 80px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    color: #cd6090;
    left: 50%;
    top: 50%;
    display: block;
}

.gallery-grid div:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(34, 34, 34, 0.5);
    display: block;
}

.gallery-grid div:hover:after,
.gallery-grid div:hover:before {
    opacity: 1;
    transition: 0.3s opacity ease;
}
